@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,
body {
	margin: 0;
	padding: 0;
}

#content {
	margin: 0 auto;
	width: 100%;

	font-family: 'Montserrat', sans-serif;
}

#title {
	display: block;
	height: 3em;
}

#title > p {
	background-color: black;
	font-weight: bold;
	color: white;
}

#data-mode-container {
	margin-left: 1%;
	margin-right: 1%;
	height: 5em;
}

#selectors {
	margin-left: 1%;
	margin-right: 1%;
	height: 5em;
}

#dataset-label {
	display: inline-block;
	width: 20%;
}

#region-label {
	display: inline-block;
	width: 80%;
}

#date-selector {
	margin-left: 1%;
	margin-right: 1%;
}
